.form-inline > .form-group {
    /*margin-right: 10px;*/
}

.form-group > select.form-control-lg {
    padding: 0 1.5rem;
}

.form-group > input[name="productName"] {
    width: 100%;
}

.form-group > #productCategory {
    width: 100%;
}

.productList .list-group-item-heading {
    min-height: 44px;
}