.form-group > select.form-control-lg {
    padding: 0 1.5rem;
}

.form-group > input[name="productName"] {
    width: 100%;
}

.form-group > #productCategory {
    width: 100%;
}

.productList .list-group-item-heading {
    min-height: 44px;
}

.recommendProduct .block {
    margin-top: 30px;
}

.takethis-nav {
    margin-bottom: 60px;
}

.social-login .btn {
    width: 220px;
}

.social-login .btn:nth-child(1) {
    margin-bottom: 10px;
}