a {
    cursor: pointer;
}

.h-divider {
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: -20px;
    margin-right: -20px;
    height: 1px;
    width: calc(100% + 40px);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.user-img-small {
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.anonymous-one {
    background-image: linear-gradient(135deg,#70929c,#e6846e);
}

.form-group > select.form-control-lg {
    padding: 0 1.5rem;
}

.form-group > input[name="productName"] {
    width: 100%;
}

.form-group > #productCategory {
    width: 100%;
}

.productList .list-group-item-heading {
    min-height: 44px;
}

.recommendProduct .block {
    margin-top: 30px;
}

.takethis-nav {
    margin-bottom: 60px;
}

.social-login .btn {
    width: 100%;
}

.social-login .btn i {
    margin-right: 3px;
    margin-left: -5px;
}

.social-login .btn:nth-child(1) {
    margin-bottom: 12px;
}

.login-tab .card-title, .signup-tab .card-title {
    margin-bottom: 1.8rem;
}

.card .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.card .loading img {
    margin-top: 40%;
}